<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% for x in range(0,fila): %}
    <div class="row">
        {% for x in range(0,columna): %}
            <div class="col">
            </div>
        {% endfor %}
    </div>
    {% endfor %}

    {% if frase == "hola" %}
        <p>La frase dice hola</p>
    {% endif %}
</body>
</html>